<div class="center" style="background-color: rgb(155, 207, 162);">

    <h1 style="text-align: center;">Users with Price Plan</h1>
    <div style="text-align: center;"> 
        
        
        {{#each keynames}}
        <a href="/counter/{{this.Users with Price Plan}}">
            <p>{{this.Users with Price Plan}}</p>
        </a>
        {{/each}}
    </div>
</div>
 <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/pricePlan">Price-plan</a>
</div>